.contenant {
    display: block;
    position: relative;
    width:180px;
    height: 220px;
    float: left;
    margin: 10px;
    z-index: 1;
    perspective: 800px;
}

.card{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform-origin: right center;
}

.card > div {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    box-shadow: 6px 6px 12px #555;
}

.pannel {
    display: inline-block;
    background: #272f3b;
    position: relative;
    z-index: 1;
}

@import url(http://weloveiconfonts.com/api/?family=entypo);
*, *:before, *:after {
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
#lamp {
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
}
input[name="switch"], input[name="switch"] + label {
    position:absolute;
    bottom:23%;
    left:0;
    width:100%;
    height:77%;
}
input[name="switch"] + label {right:3rem;}
input[name="switch"] {
    opacity:0;
    z-index:9;
    cursor:pointer;
}
input[name="switch"] + label {
    text-align:center;
}
[class*="entypo-"]:before {
    line-height:4rem;
    font-size:2.5rem;
    color:rgba(255,255,255,0.4);
    font-family:'entypo', sans-serif;
}
.lamp {
    position:relative;
    margin:0 auto;
    width:.7rem;
    height:4rem;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    background-repeat:no-repeat;
    background-size:.15rem 2rem, .4rem .8rem, .7rem 2rem;
    background-position:50% 0, .15rem 2rem, 0 2.8rem;
}
.lamp:before, .lamp:after {
    content:'';
    position:absolute;
}
.lamp:before {
    left:-1.65rem;
    bottom:-4rem;
    width:4rem;
    height:4rem;
    border-radius:50%;
    background:rgba(255,255,255,0.03);
    box-shadow:inset 2px -2px 10px rgba(255,255,255,0.07);
    transition:all 0.6s;
}
.gonna-give-light,
.gonna-give-light:before{
    position:absolute;
}
.gonna-give-light {
    top:4.2rem;
    left:.25rem;
    width:0;
    height:1.5rem;
    border-right:.2rem solid rgba(255,255,255,0.05);
}
.gonna-give-light:before {
    content:'';
    top:1.5rem;
    left:-.35rem;
    width:.9rem;
    height:.9rem;
    border-radius:50%;
    border:.2rem solid rgba(255,255,255,0.05);
    box-shadow:0px 0px 50px rgba(255,255,255,0);
}
input[type="checkbox"]:checked ~ .lamp:before {
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 10px rgba(255,255,255,0.8),
    0px 5px 50px rgba(255,255,255,0.8),
    0px 8px 80px rgba(255,255,255,0.6);
}
html, body {
    background: #f2e99a;
    width:100%;
    height:100%;
    font-family: 'visionregular', sans-serif;
}

.nom_lampe{
    background: #fafafa;
    color: #272f3b;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 20px 20px;
    height: 50px;
    box-shadow: 0 -10px 5px -5px #333;
}

.nom_lampe > .container > h4 {
    position: absolute;
    margin-left: 20px;
    display: block;
    width: 70px;
    bottom:20px;
    left:20px;
}
.nom_lampe > .container > .icon {
    position: absolute;
    height: 33px;
    width: 40px;
    bottom: 10px;
    right: 20px;
    font-size: 25px;
    border:none;
    background: none;
}
.nom_lampe > .container > .icon:focus , .nom_lampe > .container > .icon:active{
    border:none;
}

.dialog {
    text-align: center;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: white;
    margin-top: 45px;
}


.rotateZ-enter-active {
    transition: all .8s ease;
}
.rotateZ-leave-active {
    transition: all .8s ease;
}
.rotateZ-enter {
    transform: rotateY( 180deg );
}
.rotateZ-leave-to {
    transform: translateX( -100% ) rotateY( -180deg );
}
.params{
    text-align: center;
    margin-top: 20px;
}

.fa-remove{
    font-size : 45px!important;
    margin-top: 20px;
}

.params button{
    border:none;
    padding:6px 18px 6px 18px;
    border-radius:8px;
    background:#5cb85c;
    font:bold 13px Arial;
    color:#fff;
    margin-top: 15px;
}

.suppression button{
    border:none;
    padding:6px 8px 6px 8px;
    border-radius:8px;
    background:#d34836;
    font:bold 13px Arial;
    color:#fff;
    margin-top: 25px;
}

input[type=text] {
    width: 90%;
    padding: 8px 5px;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}